.Micro-wrapper {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  position: relative;
  width: 100%;
  border-radius: 0 0;
}

.Micro-wrapper.collapsed.template1 {
  max-height: 60px;
}

.Micro-wrapper.collapsed.template2 {
  max-height: 60px;
}

.Micro-wrapper.expanded {
  max-height: 518px;
}

.Micro-wrapper .heading-tags {
  position: absolute;
  top: 16px;
  text-align: left;
  padding: 0 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 75%;
}

.Micro-wrapper.collapsed .heading-tags {
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
}

.Micro-wrapper .Micro-collap-img {
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.Micro-wrapper.collapsed .Micro-collap-img {
  height: 100%;
  max-height: 140px;
  width: 31%;
  transform: translateX(238%);
}

.Micro-wrapper.expanded div,
.Micro-wrapper.expanded h1,
.Micro-wrapper.expanded h2,
.Micro-wrapper.expanded h3,
.Micro-wrapper.expanded h4,
.Micro-wrapper.expanded h5,
.Micro-wrapper.expanded h6 {
  padding: 0px 65px;
  font-size: 28px;
  top: 28px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}

.Micro-wrapper.expanded .Micro-collap-img {
  height: 32%;
  width: 68%;
  transform: translateX(23%);
}

.micro-int-div {
  min-height: 50px;
}